<div class="row">
    <div class="col-lg-12 md-6 sm-6  mx-auto mt-3">
        <div class="row">
            <% product.forEach(val=>{ %>
            <div class="col-lg-3 md-6 sm-8 mx-auto mt-3 ">
                <a href="/singleProduct/<%=val._id %>" class="nav-link">
                    <div class="card" style="width: 18rem;height: 24rem; background-color:rgba(239, 231, 231, 0.9);">
                        <img src="/<%= val.product_image %>" class="card-img-top " height="190px" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%=val.product_name.substring(0, 20) %></h5>
                            <p class="card-text"><%=val.product_discription.substring(0, 100) %></p>
                            <div class="mt-3">
                                <a href="/singleProduct/<%=val._id %>" class="btn btn-warning "><i
                                        class="bi bi-eye-fill "></i>View detal</a>
                                <a href="/checkout/<%=val._id %>" class="btn btn-danger ms-2 "><i
                                        class="bi bi-bag"></i>Buy Now</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <% }) ; %>
        </div>
    </div>
</div>