<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>E Buzzar</title>
</head>

<body style="background-color:rgb(219 211 211 / 90%);">
    <%- include('nav.ejs') -%>
        <div class="container-fluid ">
            <div class="row">
                <div class="col-lg-2 col-sm-3 mt-5">
                    <%- include('list.ejs') -%>
                </div>
                <div class="col-lg-10 col-md-8 mt-3">
                    <%- include('top.ejs') -%>
                </div>
            </div>
            <!-- <div class="container "> -->
            <div class="row ">
                <div class="col">

                    <!-- Featured Start -->
                    <div class="container-fluid pt-5">
                        <div class="row px-xl-5 pb-3">
                            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                                    <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                                    <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                                    <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                                    <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Featured End -->

                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-10 mx-auto col-md-8 mt-3">
                    <%- include('home.ejs') -%>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <%- include('footer.ejs') -%>
            <!-- <a href="#" class="btn btn-primary border-2 small p-2 back-to-top" style="color: #fff;border-color: #17a2b8;border-radius: 45px;background-color: #00394f;display: inline;"><i class="bi bi-chevron-double-up"></i></a> -->
</body>

</html>